@model Order

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="cart_section" id="checkout-app">
    <form asp-action="Index">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Checkout</h1>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" type="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactNumber" class="control-label"></label>
                        <input asp-for="ContactNumber" class="form-control" />
                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippingAddress" class="control-label"></label>
                        <textarea asp-for="ShippingAddress" class="form-control"></textarea>
                        <span asp-validation-for="ShippingAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Confirm Order" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-5">
                    <template v-if="loaders.cart">
                        <span class="fa fa-spin fa-spinner fa-2x text-info"></span>
                    </template>
                    <template v-else>
                        <table class="table table-stripped">
                            <tr v-for="(cl, index) in cartList">
                                <td>{{index+1}}</td>
                                <td><img :src="`/${cl.imageUrl}`" style="width:50px;" /></td>
                                <td>{{cl.name}}</td>
                                <td>{{cl.qty}} x {{cl.salePrice}}</td>
                                <td>$ {{(cl.qty * cl.salePrice).toLocaleString()}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">Total Bill</td>
                                <td>$ {{cartList.map(m => m.salePrice * m.qty).reduce((a,b) => a + b, 0).toLocaleString()}}</td>
                            </tr>
                        </table>
                    </template>
                </div>
            </div>
        </div>
    </form>
</div>

@section js{
    <script>
        var checkoutApp = Vue.createApp({
            data() {
                return {
                    cartList: [],
                    loaders: {
                        cart: true
                    }
                }
            },
            methods: {
                loadCart: function () {
                    this.loaders.cart = true;
                    $.post('/Cart/GetCartItems', function (res) {
                        if (res.status) {
                            checkoutApp.cartList = res.data;
                            checkoutApp.loaders.cart = false;
                        }
                    });
                }
            },
            created() {
                this.loadCart();
                console.log('created')
            },
            updated() {
                console.log('updated')
            }
        }).mount('#checkout-app');
    </script>
}

@section css{
    <link rel="stylesheet" type="text/css" href="styles/cart_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/cart_responsive.css">
    <style>
        .cart_item_image {
            height: 60px;
            width: 60px;
        }

        .cart_item_text {
            margin-top: 15px;
        }

        .cart_item_image img {
            margin-top: 25px;
        }
    </style>
}